

.containerList {
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: 350px auto ;
  grid-template-areas:'filters listCards';   
  grid-template-rows: auto;
  justify-content: space-around;
  align-content: center;
  
  
}


.filters {
  grid-area: filters;
  border: 1px solid white;
  margin: 10px;
  padding: 8px;
}

.listCards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
}