
.container{
  width: 100%;
  margin-bottom: 4px;
  background-color: #FF6464;
  display: flex;
  justify-content: center;
  color: #fff;
}

.container p {
  font-size: 14px;
  padding: 4px 20px;
}


@media (min-width: 400px) {

  
  
  .container p {
    padding: 4px 10px;
    font-size: 16px;
  }

}
