
.headerBox {
    width: 100%;
    border-bottom: 2px solid #f48585;
    
  }

  .containerHeader {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .boxs {
    
    width: 100%;
    
  }

  .titlemark{
    width: 250px;
    margin: 5px;
    text-decoration:none;
    color: white;
    
  }

  .boxLogos {
    display: flex;  
    justify-content: center;
    align-items: center;
    position: relative;
    
  }


  
  .boxSearch {
    position: relative;
    margin: 5px 1rem;
  }
  
  .inputHeader {
    
    width: 100%;
    height: 35px;
    padding: 5px 40px 5px 12px;
    font-size: 18px;
    border-radius: 15px;
    border: 2px solid #f48585;
    outline-style: none;
    
  }
  
  
  
  .logo {
    width: 28px;
    height: 28px;
    margin: 10px;
    display: block;
    cursor: pointer;
    color: #000;
    transition: all 200ms ease-in-out;
    
  }

  .logoIsAvtive {
    width: 28px;
    height: 28px;
    margin: 10px;
    display: block;
    cursor: pointer;
    color: #FF6464;
    transition: all 200ms ease-in-out;
  }

  .logo:hover {
    color:  #FF6464;
    
    
  }





@media (min-width: 400px) {

  .headerBox {
    width: 100%;
    background-color: #363636;
    border-bottom: 2px solid #f48585;
    text-align: start;
  }

  .containerHeader {
    margin: auto;
    max-width: 1440px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: white;
  }
  
  .boxs {
    width: 100%;
    
  }

  .boxLogos {
    display: flex;  
    justify-content: flex-end;
    align-items: center;
    position: relative;
    
  }

  .titlemark{
    font-size: 30px;
    text-decoration:none;
    color: white;
    text-align: left;
  }
  
  .boxSearch {
    position: relative;
    
  }
  
  .inputHeader {
    
    
    height: 40px;
    padding: 5px 40px 5px 12px;
    font-size: 18px;
    border-radius: 15px;
    border: 2px solid #f48585;
    outline-style: none;
    
  }
  
  
  
  

  
  
  .logo {
    width: 34px;
    height: 34px;
    margin: 10px;
    display: block;
    cursor: pointer;
    color: #000;
    transition: all 200ms ease-in-out;
    
  }

  .logoIsAvtive {
    width: 34px;
    height: 34px;
    margin: 10px;
    display: block;
    cursor: pointer;
    color: #FF6464;
    transition: all 200ms ease-in-out;
  }

  .logo:hover {
    color:  #FF6464;
    transform: scale(1.1);
    
  }

  
 
  
}