.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container p{
  font-size: 14px;
}

.container__selector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #444;
  border-radius: 7px;
  min-width: 100px;
  margin: 5px;
}

.number {
  min-width: 70px;
  padding: 5px;
  font-size: 16px;
  color: #000;
}



.addCart:hover {
  box-shadow: 5px 5px 10px 1px #444
}

.addCart:active {
  box-shadow: 1px 1px 5px 1px #888
}


@media (min-width: 500px) {
  

  .container p{
    font-size: 18px;
  }
  
  .container__selector {
    margin: 15px;
  }
  
  .number {
    padding: 8px;
    font-size: 18px;
  
  }
  
}

