.container{
  width: 95%;
  max-height: 100vh;
  background-color: white;
  visibility:visible;
  position: absolute;
  z-index: 950;
  transition-property: initial;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  border: 1px solid #FF6464;
  border-radius: 10px;
  overflow-y: auto;
  box-shadow: 1px 1px 10px 1px #FF6464;
}

.hidden{
  width: 100%;
  visibility: hidden;
  top: 255px;
  right:-100%;
 
}

.visible {
  width: 95%;
  visibility:visible;
  top: 255px;
  right: 2.5%;
  
}

.titleFav {
  padding: 8px;
  font-size: 18px;
  background-color:#FF6464 ;
  color: #fff
}

.titleNoProducts{
  font-size: 16px;
  padding: 15px 5px;
}


@media (min-width: 500px) {


  .container {
    width: 400px;
  }

  .hidden{
    
    top: 150px;
    right:-400px;
    
  }
  
  .visible {   
     
    top: 150px;
    right: 0;
  
    
  }
  
  .titleFav {
    padding: 10px;
    font-size: 20px;
    
  }
  
  .titleNoProducts{
    padding: 15px 5px;
    font-size: 18px;
  }
}
