


.btn {
  width: 30px;
  height: 30px;
  margin: 5px;
  font-size: 20px;
  background-color: #fff;
  border: 0px;
  cursor: pointer;
}

.btnFavorite {
  border-radius: 50%;
  border: none;
  background-color: #FF6464;
  color:#f6f6f6;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;
}

.btnBuy {
  padding: 10px 30px;
  
  border: none;
  border-radius: 25px;
  background-color: #FF6464;
  color: #f6f6f6;
  font-size: 18px;
  cursor: pointer;
  

}

.btnLogo {
  background-color: transparent;
  border: none;
  margin: 5px;   
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}



.btnSearch {
  padding-right: 10px;
  position: absolute;
  background-color: transparent;
  right: 0;
  top:0;
  bottom: 0;
  width: 40px;
  border: none;
  cursor: pointer;
  font-size: 10px;
  display: block;
  
}

.addCart {
  min-width: 200px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #444;
  border-radius: 7px;
  cursor: pointer;
  
}