.containercart {
  position: relative;
  color: #000;
  cursor: pointer;
  
}

.logo {
    
  margin: 5px;
  display: block;
  cursor: pointer;
  color: #000;
  transition: all 200ms ease-in-out;
  
}

.logo:hover {
  color:  #FF6464;
  transform: scale(1.1);
  
}



.bubble {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #FF6464;  
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}