.container {
  
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #FF6464;
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
}

.imgfavorite {
  height: 100%;
}

.container p {
  font-size: 18px;
  color: #FF6464;
}