.none{
  width: 400px;
  max-height: 100vh;
  background-color: white;
  visibility: hidden;
  position: fixed;
  overflow-y: auto;
  top: 242.5px;
  right:-400px;
  transition-property: initial;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  border: 1px solid #FF6464;
  border-radius: 10px;
  overflow-y: auto;
}

.container {
  width: 400px;
  max-height: 100vh;
  background-color: white;
  visibility:visible;
  position: absolute;
  top: 242.5px;
  right: 0;
  z-index: 950;
  transition-property: initial;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  border: 1px solid #FF6464;
  border-radius: 10px;
  overflow-y: auto;
  
}