.App {
  text-align: center;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

main {
  display: flex;
  justify-content: center;
 flex-direction: column;
 
}



@media (min-width: 400px) {
  
  
  .App {
    
    overflow-x: clip;
  }
}





